@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Padauk:wght@400;700&display=swap');

$font-family-sans-serif : 'Montserrat', 'Padauk', sans-serif;

//$primary : #118ab2;

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "feather-icons-web/feather.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "myStyle.css";
